/* File css chính toàn bộ web */

/* ======================== Header ======================== */
#header {
    background-image: var(--primary-gradient);
    height: var(--height-header);
}

.navbar {
    height: var(--height-navbar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    position: relative;
}

.navbar__item--tooltip {
    --color-tooltip: #fff;
}

.navbar__list:first-child .navbar__item {
    display: flex;
    align-items: center;
}

.navbar-authenticate__link::after,
.navbar__list:first-child .navbar__item::after {
    content: "";
    display: inline-block;
    border-left: 2px solid #ffffff38;
    height: 15px;
}

.navbar__list:first-child .navbar__item:last-child::after {
    display: none;
}

.navbar__link {
    position: relative;
}

.info-user,
.navbar-authenticate__link,
.navbar__socials-label,
.navbar__link {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 6px 10px;
}

.navbar__socials-label {
    padding-right: 4px;
}

.navbar-authenticate__link:hover,
.info-user__name:hover,
.navbar__link:hover {
    opacity: 0.8;
}

.navbar__link-icon {
    transform: translateY(1px);
    margin-right: 5px;
}

.navbar__link--badge .badge-notification {
    display: block;
}

.badge-notification {
    display: none;
    position: absolute;
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-weight: 500;
    left: 16px;
    top: 3px;
    padding: 2px 4px;
    border-radius: 999px;
    font-size: 1rem;
}

.navbar__socials {
    display: flex;
    align-items: center;
}

.navbar__socials-link {
    display: flex;
    gap: 8px;
}

.navbar__link-icon,
.navbar__socials-icon {
    color: #fff;
    font-size: 2rem;
}

.navbar__link-icon--large {
    font-size: 2.2rem;
}

/* Navbar authenticate  */

.navbar-authenticate .tooltip__content::before {
    top: -8px;
}

.navbar-authenticate .tooltip__content {
    transform-origin: 60% top;
}

.info-user__avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.info-user__name {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
}

.options-info {
    min-width: 150px;
}

.options-info__link {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 40px;
    padding: 0 16px;
    color: var(--text-color);
    text-transform: capitalize;
}

.options-info__link:hover {
    color: var(--primary-color);
}

.navbar-unauthorized {
    display: none;
    align-items: center;
}

.navbar-authenticate--unauthorized .navbar-unauthorized {
    display: flex;
}

.navbar-authenticate--unauthorized .info-user {
    display: none;
}

.navbar-authenticate__link {
    font-weight: 500;
    position: relative;
}

.navbar-authenticate__link::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-authenticate__link:last-child::after {
    display: none;
}

/* Download app */

.navbar__item:hover .download-app {
    display: block;
}

.download-app {
    --offset-top: 10px;
    display: none;
    border-radius: 4px;
    width: 184px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100% + var(--offset-top));
    box-shadow: 0px 0px 5px #cccccc36;
    animation: fadeIn linear 0.3s;
}

/* làm cầu nối giữa navbar item và phần quét qr */
.download-app::before {
    content: "";
    display: block;
    width: 100%;
    height: var(--offset-top);
    position: absolute;
    top: calc(-1 * var(--offset-top));
    left: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.download-app__qr {
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    object-fit: cover;
    object-position: center;
}

.download-app__store {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
}

.download-app__store-link {
    width: 50%;
    padding: 5px 10px;
}

.download-app_store-img {
    width: 100%;
}

/* Notification */
.notification {
    width: 400px;
    border-radius: 4px;
}

/* Notification in case unauthorized */
.notification__unauthorized {
    display: none;
}

.notification__placeholder {
    display: flex;
    height: 310px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notification__placeholder-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.notification__placeholder-text {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.notification__authenticate {
    display: flex;
    align-items: center;
}

.notification__authenticate-btn {
    flex: 1;
    text-align: center;
    color: var(--text-color);
    font-weight: 500;
    line-height: 40px;
    cursor: pointer;
    background-color: #f5f5f5;
}

.notification__authenticate-btn:hover {
    color: var(--primary-color);
}

.notification__authenticate-btn:first-child {
    border-bottom-left-radius: 3px;
}

.notification__authenticate-btn:last-child {
    border-bottom-right-radius: 3px;
}

.notification--unauthorized .notification__unauthorized {
    display: block;
}

.notification--unauthorized .notification__wrapper {
    display: none;
}

/* Notification when authorized */
.notification__heading {
    line-height: 40px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.26);
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: 500;
}

.notification__list {
    max-height: 400px;
    overflow-y: auto;
}

.notification__list::-webkit-scrollbar {
    display: none;
}

.notify-item {
    display: flex;
    align-items: flex-start;
    padding: 8px 10px;
    background-color: #fff;
    transition: 0.3s;
}

.notify-item:hover {
    background-color: var(--bg-hover-notify);
}

.notify-item--unread {
    background-color: var(--bg-color-notify);
}

.notify-item__media {
    width: 40px;
    flex-shrink: 0;
    margin-right: 5px;
}

.notify-item__thumb {
    width: 100%;
    height: 40px;
    object-fit: cover;
    object-position: center;
}

.notify-item__content {
    flex: 1;
    margin-right: 10px;
}

.notify-item__title {
    font-size: 1.4rem;
    line-height: 1.2;
    color: var(--text-color);
    font-weight: 500;
}

.notify-item__desc {
    margin: 5px 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    line-height: 1.4;
}

.notification__view-all {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 40px;
    text-align: center;
    transition: 0.2s;
}

.notification__view-all:hover {
    color: var(--primary-color);
}

/* Select language */
.select-language {
    min-width: 200px;
}

.language-item {
    font-size: 1.4rem;
    font-weight: 500;
    display: block;
    padding: 10px;
    color: var(--text-color);
}

.language-item--active,
.language-item:hover {
    color: var(--primary-color);
}

/* Main header */

.main-header {
    height: var(--main-height-header);
    display: flex;
    align-items: flex-start;
    padding-top: 16px;
}

.header-brand {
    margin-right: 40px;
}

.header-brand__icon {
    width: 162px;
    height: 50px;
    fill: #fff;
}

.header-search {
    flex: 1;
}

.header-search__form-group {
    display: flex;
    background-color: #fff;
    padding: 4px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.09);
    border-radius: 2px;
}

.header-search__form-control {
    flex: 1;
    position: relative;
    display: flex;
}

.header-search__input {
    height: 34px;
    flex: 1;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: 500;
    caret-color: var(--primary-color);
}

.header-search__input:focus ~ .search-history {
    display: block;
}

.search-history {
    display: none;
    background-color: #fff;
    top: calc(100% + 8px);
    left: 0;
    right: 20px;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}

.search-history__list {
    max-height: 400px;
    overflow-y: auto;
}

.search-history__list::-webkit-scrollbar {
    display: none;
}

.search-history__item:last-child .search-history__link {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.search-history__link,
.search-history__title {
    font-size: 1.4rem;
    padding: 10px;
    font-weight: 500;
}

.search-history__title {
    color: rgba(0, 0, 0, 0.26);
}

.search-history__link {
    display: block;
    color: var(--text-color);
}

.search-history__link:hover {
    background-color: #fafafa;
}

.header-search__filter {
    position: relative;
    padding: 4px 0;
}

.header-search__filter-current {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    border: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
    padding: 0 10px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    white-space: nowrap;
}

.header-search__filter-icon {
    font-size: 1.8rem;
    margin-left: 8px;
}

.header-search__filter:hover .header-search__filter-options {
    display: block;
}

.header-search__filter-options {
    display: none;
    top: calc(100% + 8px);
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
    animation: fadeIn linear 0.25s;
}

.header-search__filter-options::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 10px;
    top: -10px;
    left: 0;
    width: 100%;
}

.header-search__filter-option {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    padding: 16px 10px 15px;
    transition: 0.25s;
    text-transform: capitalize;
    white-space: nowrap;
}

.header-search__filter-option:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header-search__filter-option:hover {
    background-color: #fbfbfb;
}

.header-search__filter-option--active .header-search__filter-check {
    display: block;
}

.header-search__filter-check {
    display: none;
    margin-left: 15px;
    color: var(--primary-color);
    font-size: 1.6rem;
}

.header-search__btn {
    min-width: 60px;
    font-size: 1.6rem;
    transition: 0.25s;
}

.header-search__btn:hover {
    background-color: var(--hover-button-color);
}

/* Search suggest */
.header-search__suggest {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    height: 24px;
    column-gap: 14px;
    overflow: hidden;
}

.header-search__suggest-link {
    font-size: 1.2rem;
    color: #fff;
    padding: 6px 0;
    font-weight: 300;
}

/* Cart */
.header-cart {
    width: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.header-cart__link {
    font-size: 3.2rem;
    padding: 6px 12px;
    color: #fff;
    position: relative;
}

.header-cart__quantity {
    position: absolute;
    font-size: 1.2rem;
    top: 3px;
    right: -3px;
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 999px;
    border: 1px solid var(--primary-color);
    padding: 2px 6px;
    display: inline-block;
}

.header-cart__tooltip {
    --color-tooltip: #fff;
}

.header-cart__tooltip .tooltip__content::before {
    right: 10px;
}

.header-cart__tooltip .tooltip__content {
    top: calc(100% + 5px);
    transform-origin: calc(100% - 20px) top;
}

.header-cart__content {
    background-color: #fff;
    width: 400px;
    position: relative;
}

.header-cart--empty .header-cart__quantity,
.header-cart--empty .header-cart__content {
    display: none;
}

.header-cart__content::before {
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    top: -20px;
    right: 0;
    width: 26%;
}

.header-cart__heading {
    font-size: 1.4rem;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.26);
    text-transform: capitalize;
    padding: 0 10px;
    font-weight: 500;
}

.header-cart__list {
    max-height: 400px;
    overflow-y: auto;
}

.header-cart__list::-webkit-scrollbar {
    display: none;
}

.cart-item {
    display: flex;
    padding: 10px;
    transition: 0.25s;
}

.cart-item:hover {
    background-color: #f8f8f8;
}

.cart-item__content {
    flex: 1;
}

.cart-item__thumb {
    width: 42px;
    height: 42px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}

.cart-item__title {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
}

.cart-item__desc {
    margin-top: 8px;
    font-size: 1.3rem;
    color: #888;
}

.cart-item__price {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 40px;
    color: var(--primary-color);
    white-space: nowrap;
}

.header-cart__footer {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-cart__footer-more {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 500;
}

.header-cart__footer-btn {
    margin-left: auto;
}

/* Cart placeholder */
.cart-placeholder {
    display: none;
    width: 400px;
    padding: 80px;
}

.header-cart--empty .cart-placeholder {
    display: block;
}

.cart-placeholder__thumb {
    text-align: center;
}

.cart-placeholder__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.cart-placeholder__desc {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-transform: capitalize;
}
